In this notebook Longitude and latitude columns are added in order for further visualisations and processing. This proccess take a lot of time, therefore it is done in separate notebook and columns added before all further manipulation with the dataset.

Set Google API key

In [ ]:
import googlemaps
import pandas as pd
GOOGLE_API_KEY = "YOUR_API_KEY_HERE"
gmaps = googlemaps.Client(key=GOOGLE_API_KEY)

Uploading dataset:

In [2]:
df = pd.read_parquet("../data/raw/pollution_dataset.parquet", engine="pyarrow")
df.head()

,Unnamed: 0,State Code,County Code,Site Num,Address,State,County,City,Date Local,NO2 Units,...,SO2 Units,SO2 Mean,SO2 1st Max Value,SO2 1st Max Hour,SO2 AQI,CO Units,CO Mean,CO 1st Max Value,CO 1st Max Hour,CO AQI
0,0,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000-01-01,Parts per billion,...,Parts per billion,3.000000,9.0,21,13.0,Parts per million,1.145833,4.2,21,NaN
1,1,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000-01-01,Parts per billion,...,Parts per billion,3.000000,9.0,21,13.0,Parts per million,0.878947,2.2,23,25.0
2,2,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000-01-01,Parts per billion,...,Parts per billion,2.975000,6.6,23,NaN,Parts per million,1.145833,4.2,21,NaN
3,3,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000-01-01,Parts per billion,...,Parts per billion,2.975000,6.6,23,NaN,Parts per million,0.878947,2.2,23,25.0
4,4,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000-01-02,Parts per billion,...,Parts per billion,1.958333,3.0,22,4.0,Parts per million,0.850000,1.6,23,NaN

Address Cleaning Function

In [3]:
import re

def clean_address(addr, city, state):
    if pd.isna(addr):
        return None

    # Remove extra characters
    addr = re.sub(r"\s+", " ", addr.strip())

    # Build normalized searchable address
    parts = [addr]

    if isinstance(city, str) and city.lower() != "not in a city":
        parts.append(city)

    if isinstance(state, str):
        parts.append(state)

    parts.append("USA")

    return ", ".join(parts)

Google Geocoding Function with Error Handling

In [4]:
import time

def geocode_google(address, retries=3):
    if not address:
        return None, None
    
    for attempt in range(retries):
        try:
            result = gmaps.geocode(address)

            if result:
                loc = result[0]["geometry"]["location"]
                return loc["lat"], loc["lng"]

        except Exception as e:
            print(f"Google error: {e}, retrying...")
            time.sleep(1)

    return None, None

Build a unique address table (prevents 1M unnecessary geocoding calls)

In [5]:
site_keys = df[["State Code", "County Code", "Site Num", "Address", "City", "State"]].drop_duplicates()

site_keys["CleanAddress"] = site_keys.apply(
    lambda row: clean_address(row["Address"], row["City"], row["State"]),
    axis=1
)

site_keys["Latitude"] = None
site_keys["Longitude"] = None

Run Google Geocoding Only Once Per Site

In [6]:
for i, row in site_keys.iterrows():
    lat, lon = geocode_google(row["CleanAddress"])
    site_keys.at[i, "Latitude"] = lat
    site_keys.at[i, "Longitude"] = lon
    print(f"{i+1}/{len(site_keys)} → {lat}, {lon}")
    time.sleep(0.1)   # Avoid rate limits

1/204 → 33.4584262, -112.0465744
1397/204 → 33.4798999, -111.9172923
2129/204 → 32.2062306, -110.8793786
3517/204 → 37.9362718, -122.025806
4969/204 → 38.006241, -121.643328
6385/204 → 37.9630537, -122.3337857
7849/204 → 38.0291956, -121.8969494
9301/204 → 32.6760968, -115.4883507
10553/204 → 35.356401, -119.0626585
10667/204 → 34.1760151, -118.3169943
12131/204 → 34.0652706, -118.2274436
13355/204 → 33.84205910000001, -118.1921311
14819/204 → 33.92358189999999, -118.3711918
16267/204 → 33.6743124, -117.9254494
17731/204 → 34.0005504, -117.4151657
19075/204 → 38.7101347, -121.373737
20183/204 → 38.6135997, -121.3677609
21135/204 → 34.510834, -117.3253137
22527/204 → 32.6315405, -117.0589723
23949/204 → 32.7094142, -117.1538038
25333/204 → 32.5520361, -116.9374431
26789/204 → 37.7661221, -122.3993836
28233/204 → 34.4794353, -120.042365
29673/204 → 34.6378258, -120.4576809
31117/204 → 34.445138, -119.8296878
32553/204 → 34.7420267, -120.5724404
34001/204 → 37.0115806, -122.1941483
35401/204 → 38.1024934, -122.2381179
36857/204 → 34.2520691, -119.1434332
38307/204 → 39.8382499, -104.9501244
39767/204 → 38.8954362, -76.95780959999999
41223/204 → 28.5949767, -81.3508787
42647/204 → 41.8776232, -87.6348721
43779/204 → 41.8557272, -87.75220379999999
44615/204 → 41.6297358, -87.56678409999999
45463/204 → 39.7887331, -86.06096959999999
46131/204 → 38.1901119, -94.7042301
47423/204 → 37.4761795, -97.3279542
47675/204 → 39.1180007, -94.6354338
49083/204 → 38.4662244, -82.6214734
50047/204 → 37.7813343, -87.07389150000002
50943/204 → 38.0647612, -84.49850239999999
51791/204 → 37.8483058, -87.5827464
52727/204 → 38.0610963, -85.89709979999999
53617/204 → 37.0576779, -88.5731655
54549/204 → 30.4620159, -91.17922809999999
56013/204 → 42.3579366, -83.095247
56727/204 → 38.5319165, -90.38270059999999
57587/204 → 38.5896959, -90.4930416
58447/204 → 38.6511791, -90.35039139999999
59307/204 → 38.7690843, -90.28837229999999
60167/204 → 38.7278896, -90.3793352
61027/204 → 38.6734439, -90.238777
61899/204 → 39.9248335, -75.0949382
63333/204 → 40.8661356, -73.88272049999999
64295/204 → 40.7523661, -73.7593614
65671/204 → 40.8310135, -73.05749899999999
67097/204 → 36.1108529, -80.2241013
67173/204 → 35.24089000000001, -80.77896299999999
68545/204 → 35.9132722, -94.9558007
69181/204 → 36.6893562, -97.1035613
69621/204 → 40.4456828, -80.01818519999999
70421/204 → 40.7520097, -80.31922949999999
71269/204 → 40.3199083, -75.92618829999999
72129/204 → 40.5149842, -78.3885792
72973/204 → 40.1100539, -74.8815039
73551/204 → 40.3101316, -78.9047745
74407/204 → 41.410314, -75.661099
75235/204 → 40.0445109, -76.2853628
76037/204 → 40.99568900000001, -80.3470251
76869/204 → 40.11235020000001, -75.3097755
77729/204 → 40.6266302, -75.3418642
78569/204 → 40.0089686, -75.0979869
79951/204 → 40.1378499, -79.89810349999999
80811/204 → 40.3158282, -79.4599069
81671/204 → 39.9642519, -76.6996775
82531/204 → 32.8192829, -96.8603768
83449/204 → 31.7708765, -106.4967075
84699/204 → 31.8942112, -106.4254134
85223/204 → 29.7339973, -95.258134
86555/204 → 38.52266701572922, -78.6412784646288
87921/204 → 38.868555, -77.1422248
89367/204 → 38.9326941, -77.1984635
90791/204 → 38.8099866, -77.0445462
95277/204 → 37.7613219, -122.1923559
96823/204 → 38.0537358, -122.2207157
102885/204 → 34.0346382, -118.21104
103993/204 → 33.7857744, -118.2467463
138296/204 → 38.6115575, -90.1607053
144118/204 → 38.459673, -82.6406935
149024/204 → 42.3388241, -71.0703135
150676/204 → 38.7193767, -90.36687739999999
152416/204 → 35.977826, -114.8470577
154168/204 → 40.7298573, -74.1457653
157164/204 → 40.736746, -73.8203195
161906/204 → 36.9198141, -94.8393182
191214/204 → 37.9603815, -122.3568117
240030/204 → 42.9844794, -85.6712665
244538/204 → 42.9965634, -71.4541231
269184/204 → 35.4677793, -89.1713697
269840/204 → 38.3965187, -81.90810789999999
284502/204 → 36.7673955, -119.8225869
285322/204 → 36.8088067, -119.7818398
354746/204 → 32.9453812, -79.6628111
376307/204 → 33.95312, -118.42017
389073/204 → 37.7340456, -122.3840568
445468/204 → 33.503616, -112.0958365
471034/204 → 32.7011313, -117.1483728
485026/204 → 39.7511725, -104.9876488
495664/204 → 30.0409127, -90.2730582
514247/204 → 42.14180409999999, -80.0383693
540341/204 → 40.7767623, -124.1787567
571246/204 → 41.5441556, -72.8057238
577762/204 → 41.5298909, -90.5873464
581494/204 → 46.6969423, -68.033486
582654/204 → 39.3105175, -76.4739764
596668/204 → 36.1597792, -95.97528609999999
601106/204 → 40.2464814, -76.8459393
605320/204 → 41.2663051, -75.8468094
616740/204 → 29.6855971, -95.294806
620670/204 → 38.8374639, -77.1638844
624142/204 → 43.0410344, -87.9096783
625534/204 → 38.7945952, -106.5348379
626862/204 → 32.3504568, -117.0598891
628030/204 → 38.7945952, -106.5348379
634424/204 → 34.7827454, -92.277411
635880/204 → 37.8777467, -122.3010775
641804/204 → 36.7817854, -119.7730186
671861/204 → 38.0657521, -122.1466055
675749/204 → 41.115469, -73.33314410000001
676429/204 → 41.7845992, -72.6313375
679251/204 → 27.9548314, -82.2304351
683019/204 → 42.1410525, -87.7991847
688223/204 → 41.60311490000001, -93.6432775
695401/204 → 39.0563434, -76.8841094
701382/204 → 40.8661356, -73.88272049999999
712464/204 → 45.4966527, -122.6029267
714968/204 → 42.1649142, -79.8322987
736312/204 → 31.6531799, -97.0703539
741560/204 → 40.7606608, -111.8939487
775032/204 → 34.0996002, -117.4919179
811035/204 → 43.6595025, -70.2695966
821075/204 → 42.0905569, -77.2104213
826607/204 → 47.9619881, -97.1314096
827979/204 → 35.7473692, -94.66441069999999
847309/204 → 35.63343010000001, -83.9415846
847663/204 → 29.4072793, -98.4320235
849083/204 → 29.5962963, -95.3242035
902735/204 → 37.34855599999999, -121.8949314
913470/204 → 43.5994634, -116.3525782
942080/204 → 39.31208950000001, -82.1218135
942988/204 → 41.0701191, -81.9274109
973342/204 → 32.2954435, -110.9825537
979466/204 → 37.8147116, -122.2829337
993180/204 → 33.8015589, -118.2199921
1010792/204 → 37.3184268, -122.0698958
1014950/204 → 41.8329019, -73.2918054
1019650/204 → 33.6862146, -84.2885328
1034707/204 → 39.52525, -119.807688
1049411/204 → 40.4654163, -79.96061209999999
1065157/204 → 31.7679564, -106.4541702
1068115/204 → 29.6694917, -95.12771409999999
1069579/204 → 37.5565111, -77.40001989999999
1070439/204 → 37.1023484, -76.3883576
1091003/204 → 40.7177454, -124.2032175
1108425/204 → 32.7902712, -116.943233
1124729/204 → 39.739921, -75.5575187
1127189/204 → 38.9222994, -77.0123449
1130383/204 → 21.3237277, -158.0886805
1149697/204 → 45.1410477, -93.2221898
1152305/204 → 40.7213269, -74.1932605
1153697/204 → 35.1347141, -106.5861859
1156571/204 → 43.1003852, -77.7605738
1164337/204 → 41.4987233, -81.6799139
1167201/204 → 39.1288105, -84.50387769999999
1169159/204 → 35.6126232, -97.4697937
1184085/204 → 41.8416074, -71.3606451
1184613/204 → 43.5474533, -96.7005739
1195023/204 → 40.734019, -111.8728813
1198991/204 → 44.7560274, -108.7617893
1200363/204 → 43.0759678, -107.2902839
1217045/204 → 36.7852853, -119.7731159
1246725/204 → 40.73164329999999, -106.2836373
1279751/204 → 39.93450199999999, -75.1247549
1321249/204 → 30.3540522, -97.76003759999999
1321377/204 → 40.29561160000001, -110.0091895
1322913/204 → 39.8543361, -109.1154136
1325869/204 → 38.8066457, -77.0855675
1329837/204 → 33.5529416, -86.8148964
1393903/204 → 39.811907, -86.11438849999999
1400773/204 → 38.2290568, -85.65378249999999
1408663/204 → 38.656431, -90.1985425
1444513/204 → 42.7542404, -96.70747030000001
1460575/204 → 37.28306600000001, -79.88271999999999
1462831/204 → 47.5792689, -122.3117063
1465619/204 → 64.8451949, -147.725877
1502283/204 → 32.8181281, -116.9692654
1513047/204 → 39.7788717, -105.0047795
1541074/204 → 39.7082865, -78.9900976
1548536/204 → 42.8634812, -71.37967789999999
1557888/204 → 35.8567384, -78.5764284
1568834/204 → 39.923149, -77.2985956
1594264/204 → 42.99479609999999, -108.3714835
1743382/204 → 34.09384, -80.96075479999999

Save geocoded results for reuse

In [7]:
site_keys.to_parquet("../data/raw/google_geocoded.parquet", index=False)
print("Saved geocoded site metadata.")

Saved geocoded site metadata.

Merge latitude + longitude back into your pollution dataset

In [8]:
df = df.merge(
    site_keys[["State Code", "County Code", "Site Num", "Latitude", "Longitude"]],
    on=["State Code", "County Code", "Site Num"],
    how="left"
)

Check missing coordinates

In [9]:
df[["Latitude", "Longitude"]].isna().sum()

Latitude     0
Longitude    0
dtype: int64

In [10]:
df.head()

,Unnamed: 0,State Code,County Code,Site Num,Address,State,County,City,Date Local,NO2 Units,...,SO2 1st Max Value,SO2 1st Max Hour,SO2 AQI,CO Units,CO Mean,CO 1st Max Value,CO 1st Max Hour,CO AQI,Latitude,Longitude
0,0,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000-01-01,Parts per billion,...,9.0,21,13.0,Parts per million,1.145833,4.2,21,NaN,33.458426,-112.046574
1,1,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000-01-01,Parts per billion,...,9.0,21,13.0,Parts per million,0.878947,2.2,23,25.0,33.458426,-112.046574
2,2,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000-01-01,Parts per billion,...,6.6,23,NaN,Parts per million,1.145833,4.2,21,NaN,33.458426,-112.046574
3,3,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000-01-01,Parts per billion,...,6.6,23,NaN,Parts per million,0.878947,2.2,23,25.0,33.458426,-112.046574
4,4,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000-01-02,Parts per billion,...,3.0,22,4.0,Parts per million,0.850000,1.6,23,NaN,33.458426,-112.046574

In [ ]:
../data/preprocessed/pollution_dataset_geocoded.parquetdf.to_parquet("", index=False)